pipeline:
  name: <<PIPELINE_NAME>>
  pipelineType: V2
  executionMode: SUPERSEDED
  roleArn: <<CODEPIPELINE_ROLE_ARN>>
  artifactStores:
    <<AWS_REGION>>:
      type: S3
      location: <<S3_BUCKET_NAME>>-<<AWS_REGION>>
    <<AWS_REGION_SECONDARY_1>>:
      type: S3
      location: <<S3_BUCKET_NAME>>-<<AWS_REGION_SECONDARY_1>>
    <<AWS_REGION_SECONDARY_2>>:
      type: S3
      location: <<S3_BUCKET_NAME>>-<<AWS_REGION_SECONDARY_2>>
  stages:
  - name: Source
    actions:
    - name: Source
      actionTypeId:
        category: Source
        owner: AWS
        provider: CodeStarSourceConnection
        version: "1"
      configuration:
        ConnectionArn: <<REMOTE_GIT_REPO_CONNECTION_ARN>>
        FullRepositoryId: <<REMOTE_GIT_REPO_ID>>
        BranchName: main
        OutputArtifactFormat: CODE_ZIP
      outputArtifacts:
      - name: SourceArtifact
      inputArtifacts: []
      namespace: SourceVariables
  - name: Build
    actions:
    - name: Build
      actionTypeId:
        category: Build
        owner: AWS
        provider: CodeBuild
        version: "1"
      runOrder: 1
      configuration:
        ProjectName: <<CODEBUILD_PROJECT_NAME>>
      outputArtifacts:
      - name: BuildArtifact
      inputArtifacts:
      - name: SourceArtifact
      namespace: BuildVariables
  - name: DeployDev
    actions:
    - name: Deploy
      actionTypeId:
        category: Deploy
        owner: AWS
        provider: CodeDeploy
        version: "1"
      configuration:
        ApplicationName: <<CODEDEPLOY_APPLICATION_NAME>>
        DeploymentGroupName: <<CODEDEPLOY_DEPLOYMENT_GROUP_NAME_DEV>>
      outputArtifacts: []
      inputArtifacts:
      - name: BuildArtifact
  - name: DeployProd
    actions:
    - name: RequestApproval
      actionTypeId:
        category: Approval
        owner: AWS
        provider: Manual
        version: "1"
      runOrder: 1
    - name: DeployPrimaryRegion
      actionTypeId:
        category: Deploy
        owner: AWS
        provider: CodeDeploy
        version: "1"
      runOrder: 2
      configuration:
        ApplicationName: <<CODEDEPLOY_APPLICATION_NAME>>
        DeploymentGroupName: <<CODEDEPLOY_DEPLOYMENT_GROUP_NAME_PROD>>
      outputArtifacts: []
      inputArtifacts:
      - name: BuildArtifact
    - name: DeploySecondaryRegion1
      region: <<AWS_REGION_SECONDARY_1>>
      actionTypeId:
        category: Deploy
        owner: AWS
        provider: CodeDeploy
        version: "1"
      runOrder: 3
      configuration:
        ApplicationName: <<CODEDEPLOY_APPLICATION_NAME>>
        DeploymentGroupName: <<CODEDEPLOY_DEPLOYMENT_GROUP_NAME_PROD>>
      outputArtifacts: []
      inputArtifacts:
      - name: BuildArtifact
    - name: DeploySecondaryRegion2
      region: <<AWS_REGION_SECONDARY_2>>
      actionTypeId:
        category: Deploy
        owner: AWS
        provider: CodeDeploy
        version: "1"
      runOrder: 3
      configuration:
        ApplicationName: <<CODEDEPLOY_APPLICATION_NAME>>
        DeploymentGroupName: <<CODEDEPLOY_DEPLOYMENT_GROUP_NAME_PROD>>
      outputArtifacts: []
      inputArtifacts:
      - name: BuildArtifact
